@model MVCForm.Models.Candidate

@{
    ViewBag.Title = "Button";
}

<h2>Button</h2>

<!-- This table is for Candidate Detail -->
<!-- <button type="button" ID="Button" OnClick="location.href = 'file:///C:/Users/COMACIT/Desktop/test.pdf'"> View </button> -->
<button type="button" id="Button" data="<%= Url.Action("GetPDF") %>" type="application/pdf" OnClick="location.href = 'file:///C:/Users/COMACIT/Desktop/test.pdf'"> View </button>


